body {
  font-family: 'Lato', sans-serif;
}

/*  */
/* survey */
/*  */

.survey {
  width: 60vw;
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.survey__title {
  margin-bottom: 40px;
}

.survey__field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.survey__label {
  width: 100px;
}

.survey__input {
  width: 300px; 
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #DDD;
}

.survey__input:active, .survey__input:focus {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.survey__description {
  margin: 40px 0;
  font-size: 1.2em;
}

.survey__slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survey__header {
  margin: 40px 0;
}

.survey__importance {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.survey__slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.survey__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(55, 106, 211);
    cursor: pointer;
}

.survey__slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(55, 106, 211);
    cursor: pointer;
}

.survey__submit {
  width: 200px;
  height: 40px;
  background-color: rgb(110, 192, 184);
  border: none;
  border-radius: 5px;
  font-size: 1.4em;
  color: white;
  margin: 60px 0 40px 0;
  outline: none;
}

.survey__submit:hover {
  background-color: rgb(130, 212, 204);
  cursor: pointer;
}

/*  */
/* company */
/*  */

.company {
  width: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin: 30px 0;
}

.company__header {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 10px 20px;
}

.company__header h2 {
  margin: 0;
  padding: 0;
}

.company__values {
  display: flex;
  flex-wrap: wrap;
}

.company__value {
  margin: 10px 20px;
}

/*  */
/* etc */
/*  */

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.link {
  display: inline-block;
}

#content {
  display: flex;
  justify-content: center;
}

.matches {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.matches__page-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.matches__page-buttons button {
  border-radius: 3px;
  height: 40px;
  width: 100px;
  border: none;
  background-color: #EFEFEF;
  border: 1px solid #CCC;
  margin: 0;
}

.matches__page-buttons button:hover {
  background-color: rgb(47, 165, 153);
  color: white;
}

#footer {
  height: 200px;
  padding: 10px 0;
  color: white;
  /* border-top: 1px solid black; */
  background-color: #434649;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.footer-content {
  margin: 0;
  text-align: center;
}

#landing {
  color: white;
  padding-top: 45px;
  background-color: #434649;
  margin: 0;
  height: 400px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.small-header {
  font-size: 20px;
}

.text-description {
  padding: 15px 0;
}

.light-text {
  font-weight: 300;
}

button {
  /* height: 40px; */
  width: 250px;
  margin: 15px 0 30px 0;
  outline: none !important;
}

.center {
  display: flex;
  justify-content: center;
}

nav {
  font-weight: 300;
  background-color: #434649;
  border: none;
}

.margin-top-m {
  margin-top: 15px;
}

#steps {
  /* margin: 0; */
  display: flex;
  justify-content: center;
  width: 100%;
}

/* #0073b1 */

